*.o
*~
*.mod
a.out
*.swp
*.pyc
R/Conda/~$conda.pptx
Spark/~$pyspark.pptx
C/Tree_2k/~$tree_2k.pptx
LinuxTools/VersionControl/~$version_control_git.pptx
Python/Mpi4py/~$mpi4py.pptx
Python/~$python-intro.pptx
Python/Cython/~$cython.pptx
Debugging/~$debugging.pptx
Python/~$python_intro.pptx
Python/~$python_hpc.pptx
Python/~$python_coding_practices.pptx
Optimization/~$hpc_efficiency.pptx
Fortran/~$modern_fortran.pptx
DataStructures/~$data_structures.pptx
Python/~$biopython.pptx
Virtualization/~$singularity.pptx
Virtualization/~$singularity.xlsx
Java/DesignPatterns/BuilderPattern/.classpath
*.project
LinuxTools/Checkpointing/~$checkpointing.pptx
