*.o
*~
*.mod
a.out
*.swp
*.pyc
R/Conda/~$conda.pptx
Spark/~$pyspark.pptx
C/Tree_2k/~$tree_2k.pptx
LinuxTools/VersionControl/~$version_control_git.pptx
Python/Mpi4py/~$mpi4py.pptx
Python/~$python-intro.pptx
Python/Cython/~$cython.pptx
Debugging/~$debugging.pptx
Python/~$python_intro.pptx
Python/~$python_hpc.pptx
Python/~$python_coding_practices.pptx
Optimization/~$hpc_efficiency.pptx
Fortran/~$modern_fortran.pptx
DataStructures/~$data_structures.pptx
Python/~$biopython.pptx
Virtualization/~$singularity.pptx
Virtualization/~$singularity.xlsx
Java/DesignPatterns/BuilderPattern/.classpath
*.project
LinuxTools/Checkpointing/~$checkpointing.pptx
CPlusPlus/~$essential_cpp.pptx
CPlusPlus/~$02_essential_cpp_udt.pptx
CPlusPlus/~$00_essential_cpp_intro.pptx
Optimization/AllineaMAP/~$allinea_map.pptx
CPlusPlus/~$03_essential_cpp_mod.pptx
CPlusPlus/~$04_essential_cpp_classes.pptx
CPlusPlus/~$09_essential_cpp_containers.pptx
CPlusPlus/~$08_essential_cpp_io.pptx
CPlusPlus/~$05_essential_cpp_templates.pptx
CPlusPlus/~$01_essential_cpp_basics.pptx
CPlusPlus/~$12_essential_cpp_numerics.pptx
CPlusPlus/~$06_essential_cpp_regex.pptx
CPlusPlus/~$10_essential_algorithms.pptx
C/~$c_intro.pptx
Misc/~$user_day_2017_profiling_debugging.pptx
Python/~$python_hpc_dask.pptx
Python/~$python_hpc_numba.pptx
Optimization/~$hpc_efficiency_false_sharing.pptx
CPlusPlus/~$scientific_cpp.pptx
Python/~$python_development_practices.pptx
Debugging/~$debugging_coding_style.pptx
